<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/load/10/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="666" />
    <add key="mainForm.Location.Y" value="115" />
    <add key="mainForm.Width" value="588" />
    <add key="mainForm.Height" value="800" />
    <add key="/nvidiagpu/0/expanded" value="false" />
    <add key="/ram/expanded" value="false" />
    <add key="/intelcpu/0/expanded" value="false" />
    <add key="/hdd/0/expanded" value="false" />
    <add key="hiddenMenuItem" value="true" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAMtJvG2uWX/Xg4HBxqlLKY2JAQwsndo2Z0LZFk5KaxLhbM0JeVA2l9Nx+yiYuONFHrgaR+WdVVD2Dse9XYFw9b5FDVD2NscqRR8om4FhUkMylG3imPm9A653UXEMXO+K825wce0nLVA2j5PhHIQ5akbpUPYexwLNZjgbAGQnBRvkAAAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAItcf9tcs/6uByNDkPPhWEN2BiAAsU3OnmABsxManUPrmljBbIVNzmfdtSHiB2Y6G7xYww5j50jrw9U3+rOwwcRLd5yGqwcAZFJGCWwAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAItcf9tcs/6uB2PDKefVf4J1GIAAxAYA1uBlrxgAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAItcf9tcs/6uBwMQrP4TrMMABQAa7XnYGAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAItcf9tcs/6uBwMQ7FQO0WGAAgB9mSFGGAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAItcf9tcs/6uBwMQnK1KY2IAgxkONVMzoWwGBtfSRDg79MwJFgjLwcGpoYkVJj4l8LoUjA0A0YeY4lQAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAItcf9tcs/6uBwMQ7FQO0WGAAgB9mSFGGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAItcf9tcs/6uBwNDg93ZqjQmBig4yHWaBcYOPXMCxrZ3amhihTAb7Jz1bnDD2Fuk9aFqHOyP+rCwwdTf2AUzp8EOAEKy5e1sAAAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAEu8dttcs/6ux6Q+EweXlxdYGIAAxP6xJIEJxHa+au5wNCYPzH5laObwPC2KCabmUZerPIwNAE4TyjNIAAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAEu8dttcs/6uB8OKH64uLy+wMIAAkP1jSQITiFnR9sP1aEwemG0z/Yfr87QoJpiaR12u8jA2ABlxpoZIAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAEu8dttcs/6uBwNDurPLywssDGCQ7vxjSQITmGmY7Xw0Jg/MbpDIdH6eFsUEU/Ooy1UexgYAkqlT90gAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAEu8dttcs/6uB8OD/66n7thrM4AAkA0ADqtsIxgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAEu8dttcs/6uR75QssPRinQmBiAIfVzrMG96JpjNwBDnUNiQAGb3Tm912FWfB2Y/veDgEOUYBWbH9ks4uKVOA7NnzZxpv7LVDcxmDZNwEJnXDmaX7xN30LP1BLPrsyQcpum3wNVf3asNZrt0Szjs3dQBF68rjQGzb55Ldrie4g5mN2SlOfTkQvQmPpVwOGnXDVdvkBoPZm85IeHwOcEHzA7jk3QAADRTGejkAAAA" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEALuk+cBcs/6uBwPDQ1sBthwmBjDwsJ1xPwXOjrFKhbKrbKcyZ8PE7WaZRULYuR2O70qnQ9h1ZxxT77lC2NqTHReIt0HYDSF2y6S9IWyxxY5T3zeD2Q1aMU6nFmtBxG+EOb6d0wFhz57o+N47FmqXmB17rxvUHCW7X/4tUHF9uxz1Xog51SVOSgmxcPH5/30gbIM+RwBAgYzb5AAAAA==" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAFu+84m5Zv1dDwaGX7aHz5YyMYCBh63pmUw4OykkGsJ+xeG4sj8NKv7Q9hpHJIS9YKm9f910CDthvr37B1cI+8Ek+zlPWqFqeOyP6HhD2AdW2Ot9aYawOwQcDh7XgrADVtnbNHRA2Aoz7de5x0LtErPbtc4N5h47X5MWCLshxC7gSQ+EXcHkMGthLFxc5JEPhO0wxx4A5w52c+QAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAEsUKrXQrL/rceZ7s5PKw3QmBiBgZ21x2jI3Fcz2uN3s5BifAmZbTGlxWvQ9Acz+vbfZ6cgRiPiSdy1O3XIQ9lfpViemk0lgdr5aq1Pgyiwwu4Wl1WneD4j53162OPUbQdRoPG12MpsP0fv8XpPTnvBkMLvkRpOT1QuIG3bvbXISPAoRd17R5NQnkQlmd+Q1OVXEQ8y06Wpy6oiAqF/e1+T0zRkiHg0UBwDJKhu95AAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAEsUKrXQrL/rcSFhuaPKw3QmBiCYUbjcccvcVDB7ic1yR8f4FDDbTH2F46LvCWB2jfhyxyNHIOJPZ65w7JaDsOMvr3BkOpkEZq94sMIxcGUWxJytKxzn/YCY/2XyCsd+I4gaXc/ljmbzIXp7/ix13BOeDGYnfFnqaPUC4oaqS0sdBY9CxB22L3Xsk8gEs9nyljpWxEPM1Jq41LEjAqL+yLSljt+cIeJBQHEA+rR9A+QAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAEsUKrXQrL/rcXqSjqPKw3QmBiCwLtRx3DI3FcxWvq3j6BifAmYzsGk7LvqeAGYXq+o6HjkCEV+koOXYLQdhr1ur6ch0MgnMlpms6Ri4MgvMVn2p6TjvB8T8Zh0tx34jiBqhQzqOZvMheoOj9R33hCeD2Wuz9R2tXkDcULle31HwKET87VN9xz6JTDA7vsLAsSIeYqakkYFjRwRE/RM1A8dvzhDxk4YGjgBhgtDD5AAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAMtJvG2uWX/X44K8q+O1H6lMDEAwc7q3o+a2TDA7YHKN45J1iWB28elIx10mKWD2j5h8x6P7IewX5rWOZ54mgNmpe+wct+yFqL+xM8BRtS0LzD57UscxfUk6mC3XGOSYIwax68qKQseszGQwO+tgvGPvtCQwO+xikqN3bRqYLfrN1ZHZDqJGLbTZUbI/B8z+aGjrGHcG4oYVUomO93Qg5m8xtHPcfgOi/mmkpSMASSGwu+QAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEALP0vW2uWX/XIzj0rQMnbxoTAxQIPMgAsyfIcjrsbUmCiDdwOuwySYGq+WV/dD+E7ffmm/2ZpwlgtsLpKvstexOhajzsVNuy4GamL0kHs/f5HbXPEUsFs2VqfthnZSZD1Uyz752WBDffuzYNar6LPbMdRE2S+jd7yf4cMLvgg6Nd3BmYex7a39OBmK+3Udh++41kuL0A5ZsTUuQAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAMtJvG2uWX/XgwEIrv1IZWKAglO6mWD2pEQJe2bzJKi4h/0ukxQw26HsmN3R/RC2zNQp9meeJsD13nQ+wwJjpy9JB4sXfDholyOWCmdnZSbD1d8QPglXz2wHEdfbKGwv2Z8DVe9oF3cmBa5+KutpuHoAlBZWW8AAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAMtJvG2uWX/Xg/OkpeO1H6lMDEBwfmeTwyndTDB7dv5RB2bzJDD75DNzx10mKWD23XVzHI/uh7BlDpY7nnmaAGYfOdzruGVvIpg9RyLGUbUtC8zWq810TF+SDmYn1No55ohB7HrB2+KYlZkMZjM05Dr2ToPYteV8pqN3bRqYnbJZwZHZDqLmEF+Co2R/DpjdIq3sGHcG4gbJ3kLHezoQ8+N3mTpuvwFR/0/RzhEAmPrBBuQAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAMtJvG2uWX/Xg+dkqsO1H6lMDEDQ7l5pf0o3E8yW+ZPtwGyeBGbXTJB33GWSAmZHbvNxPLofwk69oOB45mkCmO3ye47Dlr2JYHbQmw4H1bYsMHu3rLtD+pJ0MPtj5GuHHDGIXXqNTI5ZmclgtrZpnGPvNIhd36R4HL1r08DsqKsxDsx2EDUzd+o4SvbngNlSHO0OcWcgbghKFXe8pwMx/9DTrw7bb0DUR92TcAQAx7ViwOQAAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAMtJvG2uWX/XgwEIFscasjNAwS6TFCYIy8Pu6H4Ym4FhqaYuXE36knSweMEHR7scsVQo+6BdVmYyXP3tQB24esn+HLC435sjdnFnEGZOZT3NAmMDADEYijyQAAAA" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAMtJvG2uWX/XgwEIFscasjNAwS6TFCYIy8Pu6H4Ym4FhqaYuXE36knSweMMbF7scsVS4mu//j7LA2N61aWDxgg+Odsx2yXAzJftzwOyKvMN2cWcg5jfoeNvd00mHq99+IxluJgAR/pNlqAAAAA==" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAMtJvG2uWX/XY4XPbcdrP1KZGIBApFrLSXNbJpht1RjutGRdIpidZK7gtMskBcxmSJB3Orofwt702M7pzNMEMHt74wfHLXsh6hkuyDqptmWB2WphDx3Tl6RDzHku5ZQjBrHrjYqqU1ZmMphtbcjj1DstCaLXQN3JuzYNzJbbr+bEbAdRw7DBx0myPwfMVi/jcoo7A3HDDUkNp3s6EPMZFvxy3H4jGWrXe0cA8u6Zt+QAAAA=" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAMtJvG2uWX/X43VuhtO1H6lMDEBwZJ2pk+a2TDCbYUOq05J1iWA252oep10mKRBxARWno/sh7Budpk5nniaA2aFSck5b9kLUMxxwdFJtywKzrRfyO6UvSYeoj1RxyhGD2KW+zckpKzMZzN64WNSpd1oSVK+Gk3dtGpidf1fGidkOomYXq6OTZH8ORA2DglPcGYgbyjZJO93TgZjvzyPmtP0GRH3Zo0+OANFFjtTkAAAA" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEAMtJvG2uWX/Xg1ed1enaj1QmBiCommftpLktE8zeqBzntGRdIpjtpG/rtMskBcxmuGDmdHQ/hC2S7ed05mkCmH05RN1py16IeoYDGk6qbVlgtr+OiFP6knSI+AQZpxwxiF1ll8ydsjKTwewkdken3mlJEDUbjJ28a9PA7AZWEydmO4gaBX1/J8n+HDC7NEnaKe4MxA1+PYZO93Qg5m9yFnPafgOi/k2IrBMAYOqhw+QAAAA=" />
    <add key="/intelcpu/0/load/10/values" value="H4sIAAAAAAAEAMtJvG2uWX/X418Ai9O1H6lMDECQJJvlpLktE8xWMytyWrIuEcyu/WDptMskBcxmCNByOrofwtZg83U68zQBzJ6cweC0ZS9EPcMBDSfVtiww249H0Cl9STqYvXGzo1OOGMQuBgEfp6zMZDD76Dsdp95pSVBxWyfv2jQwe800HSdmO4gajQuJTpL9OWC2epmRU9wZiBvKPlk53dOBmH90nYHT9hsQ9V262k4AUr+ui+QAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="" />
    <add key="/intelcpu/0/clock/1/values" value="" />
    <add key="/intelcpu/0/clock/2/values" value="" />
    <add key="/intelcpu/0/clock/3/values" value="" />
    <add key="/intelcpu/0/clock/4/values" value="" />
    <add key="/intelcpu/0/clock/5/values" value="" />
    <add key="/intelcpu/0/clock/6/values" value="" />
    <add key="/intelcpu/0/clock/7/values" value="" />
    <add key="/intelcpu/0/clock/8/values" value="" />
    <add key="/intelcpu/0/clock/9/values" value="" />
    <add key="/intelcpu/0/clock/10/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>